# PARTE 2 : Uso de API

# 1)  Importaciones varias

In [1]:

import datetime

In [2]:
import wbdata

In [3]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd
load_dotenv()

True

In [4]:
from functools import reduce
import operator

In [5]:
from iteration_utilities import duplicates
from iteration_utilities import unique_everseen

# 2) Importación data oficinas de Chicago

In [6]:
data = pd.read_csv("./chicago_data.csv")
data = data.drop("Unnamed: 0", axis = 1)
data

        city   latitude  longitude             name_companie
0    Chicago  41.885619 -87.622309                      Info
1    Chicago  41.889474 -87.628912                    Google
2    Chicago  41.889474 -87.628912                FeedBurner
3    Chicago  41.889218 -87.655723                 37signals
4    Chicago  41.881769 -87.638752                   Parlano
..       ...        ...        ...                       ...
132  Chicago  41.880169 -87.624926    Sky Bird Travel  Tours
133  Chicago  41.663359 -87.625905                   Hiremac
134  Chicago  41.879535 -87.624333              Midway Games
135  Chicago  41.887919 -87.635425  CCC Information Services
136  Chicago  41.880626 -87.635607             optionsXpress

[137 rows x 4 columns]

# 3) Uso de API

In [7]:
my_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"

In [8]:
clave = "AIzaSyADolTSvWN7y4h-9lLR9RYCuwVNxIB_RKQ"

#### La API la vamos a utilizar para obtener las longitudes y latitudes de aquellos criterios que queremos que cumpla nuestra compañía.

### a) Veterinario

In [9]:
parameters = {
    "key": clave,
    "region": ".us",
    "query": "veterinarian",
    "location": "41.8379,-87.6828", 
    "inputtype": "textquery",
    "radius": 50000
}

In [10]:
resp1 = requests.get(url= my_url, params = parameters).json()

In [11]:
#resp1

In [12]:
type(resp1)

dict

Para extraer los datos me he basado en aquello que realice en el challenge 2 de lab-api-scavenger-game.

In [13]:
len(resp1)

4

In [14]:
#resp1_dict

In [15]:
dato = resp1["results"]

In [16]:
len(dato)

20

In [17]:
#dato

In [18]:
dato2 = dato[2]

In [19]:
dato6 =  dato2["geometry"]["location"]["lat"]

In [20]:
dato6

41.7000005

In [21]:
vet_lat = [a["geometry"]["location"]["lat"] for a in dato]

In [22]:
#vet_lat

In [23]:
vet_lng = [a["geometry"]["location"]["lng"] for a in dato]

In [24]:
#vet_lng

Repetimos los pasos

### b) Guardería

In [25]:
my_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"

In [26]:
clave = "AIzaSyADolTSvWN7y4h-9lLR9RYCuwVNxIB_RKQ"

In [27]:
parameters = {
    "key": clave,
    "region": ".us",
    "query": "kindergarten",
    "location": "41.8379,-87.6828", 
    "inputtype": "textquery",
    "radius": 50000
}

In [28]:
resp1 = requests.get(url= my_url, params = parameters).json()

In [29]:
dato = resp1["results"]

In [30]:
kg_lat = [a["geometry"]["location"]["lat"] for a in dato]

In [31]:
kg_lng = [a["geometry"]["location"]["lng"] for a in dato]

### c ) Starbucks

In [32]:
my_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"

In [33]:
clave = "AIzaSyADolTSvWN7y4h-9lLR9RYCuwVNxIB_RKQ"

In [34]:
parameters = {
    "key": clave,
    "region": ".us",
    "query": "Starbucks",
    "location": "41.8379,-87.6828", 
    "inputtype": "textquery",
    "radius": 50000
}

In [35]:
resp1 = requests.get(url= my_url, params = parameters).json()

In [36]:
dato = resp1["results"]

In [37]:
stb_lat = [a["geometry"]["location"]["lat"] for a in dato]

In [38]:
stb_lng = [a["geometry"]["location"]["lng"] for a in dato]

### d) Disco Club

In [39]:
my_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"

In [40]:
clave = "AIzaSyADolTSvWN7y4h-9lLR9RYCuwVNxIB_RKQ"

In [41]:
parameters = {
    "key": clave,
    "region": ".us",
    "query": "disco club",
    "location": "41.8379,-87.6828", 
    "inputtype": "textquery",
    "radius": 50000
}

In [42]:
resp1 = requests.get(url= my_url, params = parameters).json()

In [43]:
dato = resp1["results"]

In [44]:
dc_lng = [a["geometry"]["location"]["lng"] for a in dato]

In [45]:
dc_lng = [a["geometry"]["location"]["lng"] for a in dato]

### e) Restaurante vegano

In [46]:
my_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"

In [47]:
clave = "AIzaSyADolTSvWN7y4h-9lLR9RYCuwVNxIB_RKQ"

In [48]:
parameters = {
    "key": clave,
    "region": ".us",
    "query": "vegan restaurant",
    "location": "41.8379,-87.6828", 
    "inputtype": "textquery",
    "radius": 50000
}

In [49]:
resp1 = requests.get(url= my_url, params = parameters).json()

In [50]:
dato = resp1["results"]

In [51]:
vgr_lng = [a["geometry"]["location"]["lng"] for a in dato]

In [52]:
vgr_lng = [a["geometry"]["location"]["lng"] for a in dato]

# 4) Mis trampas

A pesar de lo explicado en clase, no voy a utilizar las geoqueris de mongo, sino que voy a trabajar con dataframes.
Para ello, utilizaré la librería harversine.

In [53]:
import haversine as hs

In [54]:
loc1=(41.885619,-87.622309)
loc2=(41.99837867989272,-87.65935872010728)
hs.haversine(loc1,loc2)

12.907353932292896

Como acabamos de ver en el ejemplo anterior esta función nos devuelve dando dos coordinadas la distancia que hay entre ellas.

Por ello voy a seleccionar al azar 10 compañías de chicago  e ir poniendo en una tabla si cumplen los requisitos.

In [55]:
data

        city   latitude  longitude             name_companie
0    Chicago  41.885619 -87.622309                      Info
1    Chicago  41.889474 -87.628912                    Google
2    Chicago  41.889474 -87.628912                FeedBurner
3    Chicago  41.889218 -87.655723                 37signals
4    Chicago  41.881769 -87.638752                   Parlano
..       ...        ...        ...                       ...
132  Chicago  41.880169 -87.624926    Sky Bird Travel  Tours
133  Chicago  41.663359 -87.625905                   Hiremac
134  Chicago  41.879535 -87.624333              Midway Games
135  Chicago  41.887919 -87.635425  CCC Information Services
136  Chicago  41.880626 -87.635607             optionsXpress

[137 rows x 4 columns]

In [56]:
cchic = data.sample(n=10)

In [57]:
cchic

        city   latitude   longitude            name_companie
86   Chicago  41.882449  -87.637269                FirstDIBZ
108  Chicago  41.591111  -87.342177                  Neustep
26   Chicago  37.786739 -122.401387                  Rapleaf
11   Chicago  42.010632  -87.668310                  Inkling
71   Chicago  41.879535  -87.624333  Reverse Mortgage Guides
105  Chicago  41.879535  -87.624333             Coupon Tweet
15   Chicago  41.957776  -87.655647                 Planypus
33   Chicago  42.010632  -87.668310               DormTrader
110  Chicago  41.881607  -87.632735    Workbridge Associates
96   Chicago  41.877430  -87.666193              TimeXchange

Not too far away lo interpretaremos como no más de dos kilometros.

In [58]:
x = cchic["latitude"]

In [59]:
x

86     41.882449
108    41.591111
26     37.786739
11     42.010632
71     41.879535
105    41.879535
15     41.957776
33     42.010632
110    41.881607
96     41.877430
Name: latitude, dtype: float64

In [60]:
y = cchic["longitude"]

In [61]:
y

86     -87.637269
108    -87.342177
26    -122.401387
11     -87.668310
71     -87.624333
105    -87.624333
15     -87.655647
33     -87.668310
110    -87.632735
96     -87.666193
Name: longitude, dtype: float64

In [66]:
for i in cchic["longitude"]: 
    lng_cchic = []
    lng_cchic.append(i)

In [71]:
hola1 = 2.3, 7.8, 9.2
hola2 = 7.8, 9.4, 3.5

In [ ]:
def juntar_listas():
    for x in hola1:
        hola
        return hola3

### a) Criterio 1 : VET-Ensure there's one not too far away.

Idea 20 oficinas se comparan con todos los veterinaios y si cumple columna al lado true y sino pues no

resp1 es un diccionario

Ideas, pasamos el diccioanrio a mongo y a partir de mongo creamos un data frame de los veterinarios en chicago con el nearby hacemos una table que ponga si se cumple que si la oficina tiene o no unveterinario cerca